image:
  repository: unclesamwk/tinymon-operator
  tag: ""
  pullPolicy: IfNotPresent

tinymon:
  url: ""
  apiKey: ""
  clusterName: ""

resources:
  limits:
    cpu: 200m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 64Mi

nodeSelector: {}
tolerations: []
affinity: {}

serviceAccount:
  create: true
  name: ""
